<div class="container">
  <br>
  <form>
    <div class="row">
      <div class="col-6 offset-3">
        <div class="form-group">
          <label for="inputAddress">ตึก</label>
          <input type="text" class="form-control" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">ห้อง</label>
          <input type="text" class="form-control"  placeholder="Apartment, studio, or floor">
        </div>
          <div class="form-group col-md-6">
            <label for="inputState">จำนวนเก้าอี้</label>
            <input type="text" class="form-control" >
          </div>
        </div>
      </div>
  </form>
</div>