<nav class="navbar navbar-expand-xl navbar-light " style="background-color: #16a2b7">
    <a class="navbar-brand text-light" routerLink="/หน้าหลัก" routerLinkActive="active-link">หน้าหลัก</a>
    <a class="navbar-brand text-light" routerLink="/เจ้าหน้าที่" routerLinkActive="active-link"
        *ngIf="checknavBarAdmin">เจ้าหน้าที่</a>

    <a class="navbar-brand text-light" routerLink="/เจ้าหน้าที่/จัดการผู้ใช้งาน" routerLinkActive="active-link"
        *ngIf="checkNavbarAdminManageUser">จัดการผู้ใช้งาน</a>

    <a class="navbar-brand text-light" *ngIf="checkNavbarAdminManageExcame">จัดการรายวิชาสอน</a>

    <a class="navbar-brand text-light" *ngIf="checkNavbarAdminManagPersonalExcame">จัดการคนคุมสอบ</a>

    <a class="navbar-brand text-light" *ngIf="checkNavbarAdminManageExcameNisit">จัดการที่นั่งสอบนิสิต</a>

    <a class="navbar-brand text-light" *ngIf="checkNavbarAdminManageRoom">จัดการห้องสอบ</a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-user-circle"></i> {{name}} {{surname}}
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" auto (click)="OnClickLogout()"> <i
                        class="fa fa-sign-out"></i>Singout</button>
            </div>
        </div>
    </form>
</nav>

<router-outlet></router-outlet>