<div class="container">
    <br>
    <div class="row">
      <div class="col">
          <a  class="card-link"style="color: black">
        <div class="card" style="width: 20rem;">
          <h5 class="card-title text-center">จัดการรายวิชาสอน</h5>
          <img src="https://image.flaticon.com/icons/svg/943/943385.svg" class="card-img-top" alt="..."
            style="width: 300px">
        </div>
      </a>
      </div>
      <div class="col">
          <a  class="card-link" >
        <div class="card" style="width: 20rem;"style="color: black">
          <h5 class="card-title text-center">จัดการตารางสอบ</h5>
          <img src="https://image.flaticon.com/icons/svg/1205/1205526.svg" class="card-img-top" alt="..."
            style="width: 300px">
        </div>
      </a>
      </div>
      <div class="col">
          <a  class="card-link"style="color: black">
        <div class="card" style="width: 20rem;">
          <h5 class="card-title text-center">จัดการคนคุมสอบ</h5>
          <img src="https://image.flaticon.com/icons/svg/1581/1581882.svg" class="card-img-top" alt="..."
            style="width: 300px">
        </div>
      </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <a class="card-link" style="color: black">
          <div class="card" style="width: 20rem;">
            <h5 class="card-title text-center">จัดการที่นั่งสอบของนิสิต</h5>
            <img src="https://image.flaticon.com/icons/svg/544/544537.svg" class="card-img-top" alt="..."
              style="width: 300px">
          </div>
        </a>
      </div>
      <div class="col">
        <a  class="card-link"style="color: black">
          <div class="card" style="width: 20rem;">
            <h5 class="card-title text-center">จัดการห้องสอบ</h5>
            <img src="https://image.flaticon.com/icons/svg/1539/1539191.svg" class="card-img-top" alt="..."
              style="width: 300px">
          </div>
        </a>
      </div>
      <div class="col">
          <a href="#" class="card-link"style="color: black" [routerLink]="[ '/เจ้าหน้าที่/จัดการผู้ใช้งาน']" routerLinkActive="active">
              <div class="card" style="width: 20rem;">
                <h5 class="card-title text-center">จัดการผู้ใช้งาน</h5>
                <img src="https://image.flaticon.com/icons/svg/201/201565.svg" class="card-img-top" alt="..."
                  style="width: 300px">
              </div>
            </a>
      </div>
    </div>
  </div>