<div class="container">
  <br>
  <form>
    <div class="row">
      <div class="col-6 offset-3">
        <div class="form-group">
          <label for="inputAddress">ชื่ออาจารย์ผู้สอน</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">วิชาที่สอน</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">ภาคเรียน</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">ตึก</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">ห้อง</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">วัน</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-3">
            <label for="inputState">เวลาเริ่ม</label>
            <input type="time" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-3">
            <label for="inputZip">เวลาจบ</label>
            <input type="time" class="form-control" id="inputZip">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div>